@media (max-width:480px){
    

    
    h4{
        color: #000;
        font-size: 15px; 
        line-height: 19px;
    }

.article_text {
    font-size: 13px;
    line-height: 15px;

}

@media (max-width:450px){
    .section1{
        padding: 119px 14px;
    }
    
    h2{
        font-size: 32px;
        line-height: 40px;
    }
    
    .section1_text {
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width:375px){

}

@media (max-width:340px){
    padding-inline: 8px;
}